os
sys
*.pdf
*.pyc
*.iml
.idea/
*.csv
venv/
__pycache__/
.project
.settings
.vscode/
.pydevproject
*.mo
/media/
.env
.coverage
*.sh
*~
htmlcov/
db.sqlite3
ghostdriver.log
.DS_Store
/geckodriver.log
**/*.orig
