{% extends "base.html" %}>

{% block title %}
  Auteurs
{% endblock %}

{% block content %}
  <h1>Auteurs disponibles</h1>
  {% if object_list %}
    <table id="table_data" class="table">
    <thead><th>Auteur</th></thead>
    <tbody>
      {% for list in object_list %}
        <tr><td>{% if list.has_books %}<a href="{% url 'recherche_par_auteur' list.pk %}">{{ list }}</a>{% else %}{{ list }}{% endif %}</td></tr>
      {% endfor %}
    </tbody>
    </table>
  {% else %}
    <p>Aucune liste !</p>
  {% endif %}

{% endblock %}