{% load static %}
<br>
<table class="table" id="table_data" style="width:100%">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Auteur(s)</th>
            <th>Langue</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
    {% for livre in object_list %}
        <tr>
            <td>{% if livre.neuf %}<img src="{% static 'img/nouveau.jpg' %}" width="50px;" title="Livre neuf!">{% endif %}<a href="{% url 'livre_detail' livre.pk %}">{{ livre }}</a></td>
            <td>{{ livre.auteurs.all |join:' - ' }}</td>
            <td>{{ livre.langue }}</td>
            <td>{{ livre.prix |default:"-" }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
