{% extends "base.html" %}

{% block title %}
    Recherche livres
{% endblock %}

{% block content %}
    <h1>Recherche</h1>
    <form action="" method="POST" >
        {% csrf_token %}
        <table class="table table-condensed">{{ form.as_table }}</table>
          <input type="submit" value="Rechercher" class="btn btn-primary"/>
    </form>

    {% if not form.cleaned_data %}
        <p>Introduire des critères de recherche.</p>
    {% elif object_list %}
        {% include 'livres/livres_table.html' %}
    {% else %}
        <p>Pas de livre correspondant!</p>
    {% endif %}

{% endblock %}

